*{
    padding: 10px;
    margin-bottom: 20px;
}
.content{
    display: flex;
    gap: 150px;
}
.brown-text {
    color: #d08d57;
  }
  p{
    padding: 10px;
  }
img{
    width: 400px;
    height: 300px;
}
@media (max-width: 768px) {
  .content{
    flex-direction: column;
    gap: 50px;
  }
}