<div class="containerDiv">
  <p>{{today | date:'medium'}}</p>
  <h2>Welcome User</h2>
  <div class="content">
    <div>

      <h3>Sent Parcels</h3>
          <div class="card-container" *ngIf="orders$ | async as orders">
            <div class="container" *ngFor="let order of orders">
              <h2>
                {{ order.senderName }} <br />{{ order.senderEmail }}
                <br />
              </h2>
              <p class="cardParagraph">
                {{ order.receiverName }}<br />
                {{ order.receiverEmail }}
              </p>
              <div class="orderBtns">
                <button
                  class="btn viewBtns"
                  (click)="
                    orderDetails(order.receiverEmail, order.senderEmail, order.origin)
                  "
                >
                  View
                </button>
              </div>
            </div>
          </div>
    </div>
    <div>

      <h3>Received Parcels</h3>
          <div class="card-container" *ngIf="orders$ | async as orders">
            <div class="container" *ngFor="let order of orders">
              <h2>
                {{ order.senderName }} <br />{{ order.senderEmail }}
                <br />
              </h2>
              <p class="cardParagraph">
                {{ order.receiverName }}<br />
                {{ order.receiverEmail }}
              </p>
              <div class="orderBtns">
                <button
                  class="btn viewBtns"
                  (click)="
                    orderDetails(order.receiverEmail, order.senderEmail, order.origin)
                  "
                >
                  View
                </button>
              </div>
            </div>
          </div>
    </div>
  </div>
  <div class="view-details" *ngIf="display">
    <div class="details">
      <button (click)="close()" class="closeBtn"><i class="fa-solid fa-close"></i></button>
      <h3>{{ senderEmail }}</h3>
      <!-- <div class="image">
        <app-map></app-map>
      </div> -->
    </div>
  </div>
  <div *ngIf="errorMessage">
    <p>error: {{ errorMessage }}</p>
  </div>
</div>
