
 <nav class="navbar">
    <div class="logo" routerLink="/"><img src="../assets/images/logo.png" alt=""></div>
    <ul class="nav-links">
      <input type="checkbox" id="checkbox_toggle" />
      <label for="checkbox_toggle" class="hamburger">&#9776;</label>
      <div class="menu">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="login">Login</a></li>
        <li><a routerLink="logout" (click)="onLogout()">Logout</a></li>
      </div>
    </ul>
  </nav>
<router-outlet></router-outlet>
<app-footer></app-footer>
