:host {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
}

.container {
  padding: 50px 10px;
  background-color: #004138;
}
.content {
  display: flex;
  color: #fff;
}
.brown-text {
  color: #d08d57;
}
img {
  width: 20px;
  color: #fff;
}
.social-icons i {
  padding: 8px;
}
.social-icons i:hover {
  transform: scale(1.5);
}
.img-logo img {
  width: 150px;
  height: 60px;
}
.about {
  display: flex;
  gap: 100px;
  padding: 50px 10px;
}
.about-content h3{
  font-size: 15px;
  font-weight: 700;
  color: #D08D57;
  letter-spacing: .1rem;
  text-transform: uppercase;
  opacity: 1;
}
.about img {
  width: 80%;
  
}
.services{
  text-align: center;
  padding: 10px;
}
.services h3{
  font-size: 15px;
  font-weight: 700;
  color: #D08D57;
  letter-spacing: .1rem;
  text-transform: uppercase;
  opacity: 1;
}
.services-content{
  display: flex;
  justify-content: space-evenly;
  padding-top: 80px;
}
.flex-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  padding: 10px;
}
.flex-icons i {
  font-size: 100px;
  color: #fff;
  
}
button {
  background-color: #359e88;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  margin: 10px;
  border-radius: 50px;
  outline: none;
  border: none;
  width: 150px;
  height: 40px;
}
button:hover {
  transform: scale(1.1);
}
button a {
  text-decoration: none;
  text-align: center;
  color: #fff;
  background: none;
}