<div class="container">
    <div class="image">
        <ng-lottie [options]="options" (animationCreated)="animationCreated($event)"></ng-lottie>
    </div>
    <div class="text">
        <div>
            <!-- <i class="fa-solid fa-truck">SendIT</i>           -->
            <!-- <img src="/assets/images/car.svg" alt=""> -->
            <p>SendIT</p>
        </div>
        <h1>SendIT Courier <br><span class="brown-text">Service</span></h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe minima nam, quisquam nisi architecto odio quos.</p>
        <div class="social-icons">
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-twitter"></i>
        </div>
    </div>
    
</div>