<div>
    <h2>Delivered Orders</h2>
    <div class="card-container">
      <div class="container">
        <h2>
          Order Name <br /><span>Order description</span><br /><span
            >Order sent by</span
          >
        </h2>
        <button class="btn btns">View</button>
      </div>
      <div class="container">
        <h2>
          Order Name <br /><span>Order description</span><br /><span
            >Order sent by</span
          >
        </h2>
        <button class="btn btns">View</button>
      </div>
      <div class="container">
        <h2>
          Order Name <br /><span>Order description</span><br /><span
            >Order sent by</span
          >
        </h2>
        <button class="btn btns">View</button>
      </div>
      <div class="container">
        <h2>
          Order Name <br /><span>Order description</span><br /><span
            >Order sent by</span
          >
        </h2>
        <button class="btn btns">View</button>
      </div>
    </div>
  </div>
  