* {
  padding: 10px;
  margin-bottom: 20px;
}
.card-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #d08d57;
  transition: 1s;
  border-radius: 15px;
  height: 250px;
  width: 250px;
}
.container:hover {
  transform: scale(1.1);
}
.container p {
  background-color: #d08d57;
  text-align: center;
  font-size: 15px;
  margin-bottom: -20px;
}
@media only screen and (max-width: 600px) {
  .card-container {
    flex-wrap: wrap;
  }
  }