<div class="container">
  <div class="content">
    <div class="footer-top">
      <div class="image">
        <img src="/assets/images/logo.png" alt="" />
      </div>
      <div class="text">
        <h3>SendIT</h3>
        <p>Instant delivery when you need it</p>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="social-icons">
        <h3>Connect with us</h3>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-facebook-f"></i>
        <i class="fa-brands fa-twitter"></i>
      </div>
      <div class="locations">
        <h3>Office locations</h3>
        <div class="office-locations">
          <div>
            <p>SendIT Towers</p>
            <p>Nyeri County</p>
          </div>
          <div>
            <p>SendIT Towers</p>
            <p>Nairobi County</p>
          </div>
        </div>
      </div>
      <div>
        <h3>Contact info</h3>
        <div class="contact-info">
          <p>Email: info@sendit.com</p>
          <p>Phone: +254 789 9739</p>
        </div>
      </div>
    </div>
    <div class="copyright">
        <p>copyright &copy; <span>{{date}}</span> | SendIT</p>
    </div>
  </div>
</div>
