<div class="containerDiv" *ngIf="orders$ | async as orders">
  <h2>Parcels</h2>
  <div class="search">
    <input
      type="text"
      placeholder="search item..."
      [(ngModel)]="filteredText"
    />
  </div>
  <!--  | paginate: { itemsPerPage: 4, currentPage: p } -->
  <div class="card-container" *ngIf="orders?.length; else noParcels">
    <div
      class="container"
      *ngFor="
        let order of orders
          | search: filteredText
          | paginate: { itemsPerPage: 2, currentPage: p }
      "
    >
      <h2>
        {{ order.senderName }} <br />{{ order.senderEmail }}
        <br />
      </h2>
      <p class="cardParagraph">
        {{ order.receiverName }}<br />
        {{ order.receiverEmail }} <br />
        {{ order.price | currency: "Kshs" }}
      </p>
      <div class="orderBtns">
        <button class="btn viewBtns" (click)="orderDetails(order.id)">
          View
        </button>
        <button class="btn deleteBtns" (click)="deleteOrder(order.id)">
          Delete
        </button>
        <button class="btn deliverBtns" (click)="orderDelivered(order.id)">
          Delivered
        </button>
      </div>
    </div>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>

<ng-template #noParcels>
  <h3>No parcels available!!</h3>
</ng-template>
