<div>
  <h2>Orders</h2>
  <div class="search">
    <!-- [(ngModel)]="filter"  -->
    <input type="text" placeholder="search item..." />
  </div>

  <div class="card-container" >
    <div class="container" *ngFor="let order of orders$ | async">
      <h2>
        {{ order.senderName }} <br />{{ order.senderEmail }}
        <br />
      </h2>
      <p>
        {{ order.receiverName }}<br />
        {{ order.receiverEmail }}
      </p>
      <button class="btn btns" (click)="orderDetails(order.id)" routerLink="/admin/order-details">View</button>
      <button class="btn deleteBtns" (click)="deleteOrder(order.id)">
        Delete
      </button>
    </div>
  </div>
  <div *ngIf="errorMessage"><p>error: {{errorMessage}}</p></div>
</div>

