<div class="containerDiv">
  <h2>Orders</h2>
  <div class="search">
    <input
      type="text"
      placeholder="search item..."
      [(ngModel)]="filteredText"
    />
  </div>

  <div class="card-container" *ngIf="orders$ | async as orders">
    <div class="container" *ngFor="let order of orders | search: filteredText">
      <h2>
        {{ order.senderName }} <br />{{ order.senderEmail }}
        <br />
      </h2>
      <p class="cardParagraph">
        {{ order.receiverName }}<br />
        {{ order.receiverEmail }}
      </p>
      <div class="orderBtns">
        <button class="btn viewBtns" (click)="orderDetails(order.id)">
          View
        </button>
        <button class="btn deleteBtns" (click)="deleteOrder(order.id)">
          Delete
        </button>
        <button class="btn deliverBtns" (click)="orderDelivered(order.id)">
          Delivered
        </button>
      </div>
    </div>
  </div>
  <div></div>
</div>
