<div class="container">
  <div class="content">
    <p>{{ today | date: "medium" }}</p>
    <h2>
      Welcome Admin <br /><span class="brown-text">{{ admin }}</span>
    </h2>
    <div class="image">
      <p routerLink="/admin/orders" class="adminBtns">Parcels</p>
      <p routerLink="/admin/create" class="adminBtns">create parcel</p>
      <p routerLink="/admin/sent" class="adminBtns">on Transit</p>
      <p routerLink="/admin/delivered" class="adminBtns">Delivered</p>
    </div>
  </div>
  <div class="side">
    <router-outlet></router-outlet>
  </div>
</div>
