<div class="container">
  <div class="content">
    <div class="form">
        <h1>Fast Delivery <br><span class="brown-text">Register SendIT</span></h1>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <label for="">Name</label>
        <input type="text" formControlName="name" class="form-control" />
        <div *ngIf="!form.get('name')?.valid && form.get('name')?.touched">
          <p class="error" *ngIf="!(form.get('name')?.errors)!['required']">
            *Please enter a username
          </p>
        </div>
        <label for="">Email</label>
        <input type="text" formControlName="email" class="form-control" />
        <div *ngIf="!form.get('email')!.valid && form.get('email')!.touched">
          <p class="error" *ngIf="!form.get('email')!.errors!['required']">
            *Please enter email
          </p>
          <p class="error" *ngIf="!form.get('email')!.errors!['email']">
            *Please enter a valid email
          </p>
        </div>
        <label for="">password</label>
        <input type="text" formControlName="password" class="form-control" />
        <div
          *ngIf="!form.get('password')!.valid && form.get('password')!.touched"
        >
          <p class="error" *ngIf="form.get('password')!.errors!['required']">
            *Please enter password
          </p>
          <p class="error" *ngIf="form.get('password')!.errors!['special']">
            *Please enter a special character
          </p>
          <p class="error" *ngIf="form.get('password')!.errors!['capital']">
            *Password should have uppercase letter
          </p>
          <p class="error" *ngIf="form.get('password')!.errors!['number']">
            *Password should have a number
          </p>
          <p *ngIf="checkMinimum()">*Password should 8 characters or more</p>
        </div>
        <button [disabled]="!form.valid" type="submit" class="form-control">
         Register
        </button>
      </form>
    </div>
    <div class="image">
      <ng-lottie
        [options]="options"
        (animationCreated)="animationCreated($event)"
      ></ng-lottie>
    </div>
  </div>
</div>
