<p>{{today | date:'medium'}}</p>
<div class="">
    <h2>Welcome Customer <span class="brown-text">Name</span></h2>

  <div class="content">
    <div class="sent">
        <h2>Orders Sent</h2>
      <div class="card-container">
        <div class="container">
          <h3>Order Name</h3>
          <p class="pText">Order description <br />Order sent by</p>
          <button class="btn btns">View</button>
        </div>
        <div class="container">
          <h3>Order Name</h3>
          <p class="pText">Order description <br />Order sent by</p>
          <button class="btn btns">View</button>
        </div>
      </div>
    </div>
    <div class="delivered">
        <h2>Orders Delivered</h2>
      <div class="card-container">
        <div class="container">
          <h3>Order Name</h3>
          <p class="pText">Order description <br />Order sent by</p>
          <button class="btn btns">View</button>
        </div>
        <div class="container">
          <h3>Order Name</h3>
          <p class="pText">Order description <br />Order sent by</p>
          <button class="btn btns">View</button>
        </div>
      </div>
    </div>
  </div>
</div>
